{% extends 'home.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<div class="container" style="margin-top: 80px">
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
